{% extends "layout.html" %}

{% block body %}
<div id='contact'>
	<h1>Contact Us</h1>
	<div class="contact-table">
		<img src="{{ url_for('static', filename='filler.jpg')  }}" alt="">
		<div class="contact-info">
			<a link="https://twitter.com/anhphamduy">Anh Pham Duy</a>
			<p>description of what _ has done</p>
			<span>Email: AnhPham@gmail.com</span>
		</div>
	</div>
	<div class="contact-table">
		<img src="{{ url_for('static', filename='filler.jpg')  }}" alt="">
		<div class="contact-info">
			<a link="">Charl Kruger</a>
			<p>description of what _ has done</p>
			<span>Email: Charl.kruger@gmail.com</span>
		</div>
	</div>
	<div class="contact-table">
		<img src="{{ url_for('static', filename='filler.jpg')  }}" alt="">
		<div class="contact-info">
			<a link="">Sophie May Press</a>
			<p>description of what _ has done</p>
			<span>Email: SophieMayPress@gmail.com</span>
		</div>
	</div>
</div>
{% endblock %}