<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Water Gun Turret</title>
    {% block head %}
      <header>
        <center><h1>Automatic Water Gun Turret</h1>
        <h2>Web Interface</h2></center>
      <div class="navigation">
          <div class="link"><a href="/">Home</a></div>
          <div class="link"><a href="/help">How To Use</a></div>
		  <div class="link"><a href="/contact">Contact Us</a></div>
	  </div>
        
      </header>
    {% endblock %}
  </head>
  {% block body %}
  <body>
  </body>
  {% endblock %}
</html>